#playSong {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#songImage {
  height: 80%;
}
#playerFunctions {
  display: flex;
  justify-content: space-evenly;
  height: 20%;
  border-top: 5px solid black;
  align-items: center;
}

#playerFunctions img {
  cursor: pointer;
}

#playFunction,
#playPreviousFunction,
#playNextFunction,
#favourites {
  background: none;
  border-radius: 5px;
  padding: 0;
  border: none;
}

#playFunction:hover,
#playPreviousFunction:hover,
#playNextFunction:hover,
#favourites:hover {
  transform: scale(1.1);
}
