.receivedSongs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.scroller {
  width: minmax(400px, auto);
  height: 400px;
  overflow-y: scroll;
}

.musicApp {
  max-width: 960px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  grid-auto-rows: minmax(500px, auto);
  grid-gap: 10px;
  grid-template-areas: "musicPlayer" "songsData";
}

#musicPlayer {
  background-color: lightcoral;
  border: 2px solid black;
  border-radius: 10px;
  grid-area: musicPlayer;
}

#songsData {
  background-color: lightgreen;
  border-radius: 10px;
  font-size: 1em;
  grid-area: songsData;
}
